{% extends "layout.html" %}
{% block content %}
    
	<h3>Welcome {{current_user.first_name}}!</h3>
	<h6><i>Role: {{current_user.user_type}}</i></h6>
	{% if current_user.user_type == "Admin" %}
	<div class="col-9">
		<a href="{{ url_for('basic') }}" class="btn btn-info mb-2 " role="button">Basic Gene Search</a>
		<a href="{{ url_for('advanced') }}" class="btn btn-info mb-2 " role="button">Advanced Search</a>	
		<a href="{{ url_for('knn_model') }}" class="btn btn-info mb-2 " role="button">Add KNN</a>
		<a href="{{ url_for('rf_model') }}" class="btn btn-info mb-2 " role="button">Add RF</a>
		<a href="{{ url_for('svr_model') }}" class="btn btn-info mb-2 " role="button">Add SVR</a>
		<a href="{{ url_for('deleteuser') }}" class="btn btn-info mb-2 " role="button">Delete Regular User</a>
		<a href="{{ url_for('delete_knn') }}" class="btn btn-info mb-2 " role="button">Delete KNN</a>
		<a href="{{ url_for('delete_svr') }}" class="btn btn-info mb-2 " role="button">Delete SVR</a>
		<a href="{{ url_for('delete_rf') }}" class="btn btn-info mb-2 " role="button">Delete RF</a>
		<a href="{{ url_for('upload') }}" class="btn btn-info mb-2 " role="button">Upload Gene Model File</a>
		<a href="{{ url_for('submit_job') }}" class="btn btn-info mb-2 " role="button">Submit Job</a>
	</div>

    {% else %}
	<div class="col-9">
		<a href="{{ url_for('basic') }}" class="btn btn-info mb-2 " role="button">Basic Gene Search</a>
		<a href="{{ url_for('advanced') }}" class="btn btn-info mb-2 " role="button">Advanced Search</a>
		<a href="{{ url_for('submit_job') }}" class="btn btn-info mb-2 " role="button">Submit Job</a>
	</div>
	<!--
		<ul>
		  <li><a class="mr-2" href="{{ url_for('basic') }}">Basic Gene Search</a></li>
		  <li><a class="mr-2" href="{{ url_for('advanced') }}">Advanced Search</a></li>
		</ul>
		-->
	{% endif %}
{% endblock content %}
