{% extends "add_gene_model.html" %}

			{% block model %}
			
            <div class="form-group">
                {{ form.kernel.label(class="form-control-label") }}
                {% if form.kernel.errors %}
                    {{ form.kernel(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.kernel.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.kernel(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			
			<div class="form-group">
                {{ form.degree.label(class="form-control-label") }}
                {% if form.degree.errors %}
                    {{ form.degree(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.degree.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.degree(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			
			<div class="form-group">
                {{ form.c.label(class="form-control-label") }}
                {% if form.c.errors %}
                    {{ form.c(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.c.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.c(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			{% endblock model %}
			